.DS_Store
build/*
Sample/build/*
Automated/build/*

*.pem

.irb-history

xcuserdata/
*.xcscmblueprint
*.xccheckout

Sample/fastlane/README.md
Sample/fastlane/report.xml

compile_commands.json
oclint.result
oclint_result.html

TeakExtensions.zip

Pods/

Automated/test_output/
Automated/fastlane/README.md
Automated/fastlane/report.xml
