.DS_Store
build/*
!build/.gitkeep
Sample/build/*
!Sample/build/.gitkeep
*.pem

.irb-history

xcuserdata/
*.xcscmblueprint
*.xccheckout

Sample/fastlane/README.md
Sample/fastlane/report.xml

compile_commands.json
oclint.result
oclint_result.html
